[project]
name = "russian-roulette-bot"
version = "0.1.0"
description = "A Discord bot to play virtual Russian Roulette with your friends."
readme = "readme.md"
requires-python = ">=3.11"
dependencies = [
    "discord-py~=2.6.3",
    "pydantic-settings~=2.12.0",
]

[dependency-groups]
dev = [
    "pre-commit~=4.3.0",
]

[build-system]
requires = ["setuptools>=61"]
build-backend = "setuptools.build_meta"

[tool.ruff]
src = ["src"]
line-length = 119
target-version = "py311"

[tool.ruff.lint]
select = ["ALL"]
ignore = ["A", "D", "T20", "TD002", "TD003"]

[tool.pyright]
venvPath = "."
venv = ".venv"
