name: Lint

on:
  push:
  pull_request:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

concurrency: lint-${{ github.sha }}

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.11"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install project dependencies
        run: uv sync --all-groups --python ${{ env.PYTHON_VERSION }}

      - name: Run hooks
        uses: j178/prek-action@v1
